---
import Default from "../../layouts/Default.astro";
import { getProject } from "../../services/pocketbase";

const { id } = Astro.params;

if (!id) return new Response(null, { status: 404 });
const project = await getProject(id);

export const prerender = false;
---

<Default>
  <div class="p-7 space-y-1">
    <div class="font-exo text-3xl font-medium mt-16">
      {project.title}
    </div>
    <div>
      <a class="text-neutral-500" href="/">{"<-"} Назад</a>
    </div>
  </div>

  <div class="p-7">
    <div class="prose prose-neutral" set:html={project.description} />
  </div>
</Default>
