---
import Default from "../layouts/Default.astro";
---

<Default>
  <div class="p-7 space-y-3">
    <div class="font-exo text-3xl font-medium mt-16">
      404 Эта страница не найдена
    </div>
    <div>
      <a href="/" class="text-neutral-500 sm:hover:text-black">На главную</a>
    </div>
  </div>
</Default>
