---
import { Image } from "astro:assets";
import Default from "../layouts/Default.astro";
import { listProjects, pb } from "../services/pocketbase";

const projects = await listProjects();

export const prerender = false;
---

<Default>
  <div class="p-7 space-y-1">
    <div class="font-exo text-3xl font-medium mt-16">Кванториум.Проекты</div>
    <div class="text-neutral-500">тестовый сайт</div>
  </div>

  <div
    class="p-7 grid gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
  >
    {
      projects.map((project) => (
        <a href={`/project/${project.id}`} class="space-y-3">
          <Image
            alt={project.title}
            src={pb.files.getUrl(project, project.cover, { thumb: "640x360" })}
            width={640}
            height={360}
            class="w-full"
          />
          <div>
            <div>{project.title}</div>
            <div class="text-neutral-500 text-sm">
              {project.expand?.area.title}
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Default>
